#header {
  border: 10px solid darkgoldenrod;
  border-radius: 500px;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: burlywood;
  color: black;
}

#clickhere {
  position: fixed;
  